# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Flask runtime/data
instance/
.flaskenv
.env
portfolio/data/

# IDE/OS
.DS_Store
Thumbs.db
.idea/
.vscode/

# Build/Deploy
.cache/
.pytest_cache/

